        html {
            scroll-behavior: smooth;
        }
        
        .checked {
            color: #ffd768;
        }
        
        body {
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
            background-color: #fff;
            font-family: 'DM Sans';
        }
        
        .fontSize-32 {
            font-size: 32px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.64px;
            color: #000000;
        }
        
        .fs64 {
            font-size: 64px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: -1.28px;
        }
        
        .fontSize-16 {
            font-family: 'DM Sans';
            font-size: 1rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.7);
        }
        
        .fontSize-14 {
            font-size: 0.875rem;
            line-height: 1.5;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: normal;
            font-family: 'DM Sans';
        }
        
        .fontSize-24 {
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #000000;
        }
        
        .fontSize-18 {
            font-size: 1.125rem;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            font-family: 'DM Sans';
        }
        
        .fs20 {
            font-size: 20px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
        
        .masthead {
            height: 70vh;
            min-height: 784px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("img/img.png");
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
        }
        
        nav {
            padding-left: 13.5% !important;
            padding-right: 3% !important;
            width: 100%;
            height: 11.2%;
            background: transparent;
            a {
                color: white !important;
                font-size: 0.875rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.57;
                letter-spacing: normal;
            }
            .active,
            a:hover {
                text-decoration: none;
                background-color: none;
            }
            .nav-item {
                padding-right: 60px;
            }
            .nav-link {
                background-color: none !important;
            }
        }
        
        header {
            .padding_area {
                padding-top: 13%;
                padding-right: 60%;
            }
            .area {
                text-align: left;
                font-size: 3.5rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: -1.12px;
                color: #ffffff;
            }
            .padding_p {
                padding-top: 32px;
                padding-bottom: 48px;
                padding-right: 60%;
            }
        }
        
        section {
            padding-top: 2.6rem;
            padding-bottom: 2.6rem;
        }
        
        .section_min {
            background-color: #f3f4fa;
            .col--dashed {
                width: 1px;
                border-right: dashed 1px #1a756d;
                -webkit-background-clip: padding-box;
                /* for Safari */
                background-clip: padding-box;
                /* for IE9+, Firefox 4+, Opera, Chrome */
            }
            .col {
                img {
                    width: 3rem;
                    height: 3rem;
                    object-fit: contain;
                    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
                }
            }
            .fontSize-14 {
                color: #999999;
            }
            .fontSize-18 {
                color: #535fb3;
                font-weight: bold;
            }
            .col--left {
                padding-left: 10%;
            }
        }
        
        .btn-danger {
            width: 16rem;
            height: 4rem;
            font-size: 16px;
            border-radius: 0.75rem;
            box-shadow: 0 16px 24px 0 rgba(102, 16, 10, 0.16);
            background-color: #ff675e !important;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 2px;
            color: #ffffff;
            .style--text {
                padding-left: 24px;
                padding-right: 24px;
                padding-top: 10px;
            }
            .img {
                padding-left: 10px;
            }
        }
        
        .section_problem {
            .row {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            .border-text {
                padding-top: 60px;
                .fontSize-32 {
                    padding-right: 120px;
                }
                .border-circle {
                    padding-top: 20px;
                }
            }
            .border-text--Middle {
                padding-top: 48px;
                .border-circle {
                    padding-top: 20px;
                }
            }
            .border-text--Last {
                padding-top: 32p;
                .fontSize-32 {
                    padding-right: 60px;
                }
                .border-circle {
                    padding-top: 40px;
                }
            }
            .circle {
                width: 40px;
                border-style: solid;
                border-color: black;
                height: 40px;
                border-radius: 50%;
                background-color: #000000;
                color: #ffffff;
                text-align: center;
                .text {
                    font-size: 24px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.48px;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                }
            }
            .fontSize-16 {
                color: #000000;
                padding-top: 32px;
                padding-left: 70px;
                padding-right: 100px;
            }
            .border-circle {
                padding-right: 30px;
                padding-left: 10px;
            }
        }
        
        .section_Banner {
            background-size: cover;
            background-image: url("img/banner.png");
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            .fs40 {
                font-size: 2.5rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -1.6px;
                color: #000000;
                padding-top: 50%;
            }
        }
        
        section {
            a {
                color: #535fb3;
            }
            a:hover {
                color: #1a756d;
                text-decoration: none;
            }
        }
        
        .section_doctor {
            padding-bottom: 0px;
            padding-top: 5rem;
            .fontSize-16 {
                color: #000000;
                padding-right: 60px;
                padding-top: 32px;
            }
            .signature {
                width: 50%;
                padding-top: 40px;
                padding-bottom: 16px;
            }
            .fontSize-18 {
                padding-bottom: 8px;
                font-weight: bold;
            }
            .verticalLine {
                border-left: 2px solid #ff675d;
                height: 50px;
            }
            .border-text {
                padding-top: 16%;
                padding-right: 6%;
            }
        }
        
        .section_watch {
            text-align: center;
            background-color: #f5f5f5;
            .border-playBtn {
                padding-top: 14%;
                padding-left: 33%;
                padding-right: 33%;
                position: absolute;
                padding-bottom: 14%;
            }
            .triangle {
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-left: 32px solid #535fb3;
                border-bottom: 20px solid transparent;
            }
            .white-circle {
                width: 120px;
                border-style: solid;
                border-color: white;
                height: 120px;
                border-radius: 50%;
                background-color: white;
                color: white;
                .power--pd {
                    padding-bottom: 25px;
                    padding-top: 28px;
                    padding-left: 25px;
                    padding-right: 25px;
                }
                .square--pd {
                    padding-bottom: 26px;
                    padding-top: 26px;
                    padding-left: 25px;
                    padding-right: 25px;
                }
                .triangle--pd {
                    padding-left: 42px;
                    padding-right: 40px;
                    padding-bottom: 40px;
                    padding-top: 35px;
                }
            }
            .fontSize-18 {
                font-weight: bold;
                padding-left: 5%;
                padding-right: 5%;
            }
            .arrow {
                width: 14.5rem;
                height: 2rem;
                padding-top: 2%;
            }
            .pl {
                padding-left: 5rem;
            }
            .text--box-1 {
                padding-left: 4%;
                padding-right: 12%;
            }
            .text--box-2 {
                padding-left: 7%;
                padding-right: 9%;
            }
            .text--box-3 {
                padding-left: 11%;
                padding-right: 5%;
            }
        }
        
        .section_Banner--Middle {
            min-height: 447px;
            height: 50vh;
            background-size: cover;
            background-image: url("img/ImgChild.png");
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            .section_Banner--Middle--text {
                font-size: 48px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.17;
                letter-spacing: -0.96px;
                color: #ffffff;
                padding-bottom: 2.5rem;
            }
            .section_Banner--Middle--pd {
                padding-top: 7%;
                padding-right: 55%;
            }
        }
        
        .reviewMachine {
            .fs20--red {
                font-weight: bold;
                color: #ff675d;
            }
            .fs20--black {
                font-weight: bold;
                color: #000000;
            }
            .fontSize-16 {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #666666;
            }
            .hrLine {
                padding-top: 1px solid #f5f5f5;
            }
        }
        
        .reviewMachine_next {
            .fontSize-16 {
                color: #666666;
                padding-top: 32px;
            }
        }
        
        .section_banner--last {
            background-size: cover;
            background-image: url("img/ImgLast.png");
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            .text {
                font-size: 48px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.17;
                letter-spacing: -0.96px;
                color: #ffffff;
            }
            .banner_last_pd {
                padding-top: 9%;
                padding-right: 57%;
            }
            .btn-pd {
                padding-top: 40px;
                padding-bottom: 135px;
            }
        }
        
        .section_image {
            img {
                border-radius: 24px;
            }
        }
        
        footer {
            .btnSocial {
                border-radius: 50%;
                background: #f3f4fa;
                color: #000000;
            }
            .fa:hover {
                opacity: 0.7;
            }
        }
        
        .customerTestimonials {
            .fontSize-16 {
                color: #000000;
                line-height: 1.5;
                letter-spacing: 1px;
            }
            .row {
                border-bottom: 1px solid #f3f4fa;
            }
            img {
                padding-left: 24px;
                padding-right: 24px;
                padding-bottom: 24px;
            }
            .fs20 {
                font-style: italic;
                line-height: 1.5;
                letter-spacing: normal;
                padding: 24px;
            }
            .fs64 {
                color: #ff675d;
            }
            .fontSize-18 {
                font-weight: bold;
                padding-top: 8px;
                padding-bottom: 24px;
            }
            .testiCarousel {
                border-radius: 24px;
                box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.06);
                border: solid 1px #f1f1f1;
                background-color: #ffffff;
            }
            .testiCarousel::after {
                content: "";
                clear: both;
                display: table;
            }
            .testiCarousel img {
                float: left;
                margin-right: 20px;
                border-radius: 50%;
            }
            .testiCarousel span {
                font-size: 16px;
            }
            @media (max-width: 500px) {
                .testiCarousel {
                    text-align: center;
                }
                .testiCarousel img {
                    margin: auto;
                    float: none;
                    display: block;
                }
            }
            .slick-dot {
                cursor: pointer;
                width: 10px;
                height: 10px;
                opacity: 0.3;
                background-color: #535fb3;
                transition: background-color 0.6s ease;
            }
            /* Fading animation */
            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
            @-webkit-keyframes fade {
                from {
                    opacity: .4
                }
                to {
                    opacity: 1
                }
            }
            @keyframes fade {
                from {
                    opacity: .4
                }
                to {
                    opacity: 1
                }
            }
            /* On smaller screens, decrease text size */
            @media only screen and (max-width: 300px) {
                .prev,
                .next,
                .text {
                    font-size: 11px
                }
            }
        }
        
        .answerQuestion {
            background-image: url("img/ImgQuestion.svg");
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .fontSize-16 {
                color: #000000;
                transition: all 0.5s ease-in-out 0s;
            }
            span {
                color: #ff675d;
                -webkit-text-stroke: 1px #ff675d;
            }
        }
        
        .detailProduct {
            img {
                width: 100%;
                height: auto;
            }
            .Imgcontainer {
                position: relative;
                display: none;
            }
            .border_image img {
                width: 7%;
                height: auto;
            }
            .myhover:hover {
                opacity: 0.6;
            }
            .myhover:active {
                border-radius: 8px;
                border: solid 1px #000000;
                background-color: #ffffff;
            }
            .fontSize-24 {
                font-weight: bold;
            }
            .fontSize-24--silver {
                letter-spacing: -0.48px;
                color: #aaaaaa;
            }
            .fontSize-24--red {
                color: #ff675d;
            }
            .fontSize-32 {
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.64px;
                color: #ff675d;
            }
            .fontSize-16 {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #f3746b;
            }
            .fontSize-16--bold {
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 2px;
                color: #000000;
            }
            .fontSize-16--normal {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #666666;
            }
            li {
                display: inline-block;
                list-style-type: none;
                padding: 0.25rem;
                text-transform: uppercase;
            }
            li span {
                display: block;
                font-size: 1.5rem;
            }
        }